.language-selector {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  .selected-language {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      .flag-container {
        border: 2px solid #cccccc;
      }
      .arrow {
        svg {
          g {
            fill: #cccccc;
          }
        }
      }
    }

    .flag-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #678184;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;

      .flag {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .arrow {
      display: flex;
      svg {
        width: 20px;
        height: 20px;
        transition: transform 0.5s ease;

        g {
          transition: 0.1s;
          fill: #678184;
        }
      }

      &.rotate {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 60px;
    border: 2px solid #678184;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    transition: 0.5s;

    &:hover {
      border: 2px solid #cccccc;
    }

    .dropdown-item {
      display: flex;
      align-items: center;

      .flag {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 900px) {
  .language-selector {
    .selected-language {
      &:hover {
        .flag-container {
          border: 2px solid #1e1e1e;
        }

        .arrow {
          svg {
            g {
              fill: #1e1e1e;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .language-selector {
    .selected-language {
      .flag-container {
        width: 32px;
        height: 32px;
      }
    }

    .dropdown {
      .dropdown-item {
        .flag {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
