.project-main {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1360px;
  align-self: center;
  padding-bottom: 120px;
  gap: 120px;
  &.hidden {
    display: none;
  }

  p {
    letter-spacing: 4px;
  }

  .top-container {
    display: flex;

    .left-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      .year {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span {
          color: #678184;
        }
      }
    }

    .right-content {
      width: 50%;
    }
  }

  .project-images {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .mobile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1500px) {
  .project-main {
    padding-inline: 40px;
  }
}
