.project-main {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1360px;
  align-self: center;
  padding-bottom: 120px;
  gap: 120px;

  &.hidden {
    display: none;
  }

  p {
    letter-spacing: 4px;
  }

  .top-container {
    display: flex;

    .left-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      .item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        a {
          width: fit-content;
          text-wrap: nowrap;
          color: #678184;
          text-decoration: underline 2px;
          display: flex;
          align-items: center;
          transition: color 0.3s;

          &:hover {
            color: #cccccc;

            svg {
              fill: #cccccc;
            }
          }

          svg {
            width: 20px;
            height: 20px;
            fill: #678184;
            transition: fill 0.3s;
          }
        }

        .technologies {
          display: flex;
          width: 100%;
          gap: 20px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .right-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .project-images {
    display: flex;
    flex-direction: column;
    gap: 80px;

    img {
      width: 100%;
    }

    .mobile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 1500px) {
  .project-main {
    padding-inline: 40px;
  }
}

@media (max-width: 900px) {
  .project-main {
    padding-inline: 20px;
    .top-container {
      flex-direction: column;
      gap: 80px;

      .left-content {
        width: 100%;
      }
      .right-content {
        width: 100%;
      }
    }

    .project-images {
      .mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
