.background-loader {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;

  .logo-container {
    width: 56px;
    height: 56px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .logo-icon {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
    .loading-spinner {
      display: flex;
      position: absolute;
      border: 4px solid #f3f3f3;
      border-top: 4px solid #678184;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
