#root {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;

  .header-container {
    padding: 24px 80px;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;

      .logo-icon {
        width: 46px;
        height: 46px;
      }

      .logo-text {
        display: flex;
        flex-direction: column;
        text-align: center;

        span {
          color: #264144;
        }

        .name {
          font-size: 20px;
          font-weight: bold;
        }

        .description {
          font-size: 12px;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;

      span {
        font-size: 16px;
        color: #264144;
        font-weight: bold;
      }

      .menu-icon {
        width: 24px;
        height: 24px;
        fill: #264144;
      }
    }
  }

  .content {
    padding-inline: 240px;

    .introduction {
      display: flex;

      .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        width: 40%;
        gap: 20px;

        h1 {
          color: #264144;
        }

        span {
          letter-spacing: 2px;
        }

        button {
          background-color: #264144;
          border-style: none;
          padding-block: 16px;
          width: 200px;
          border-radius: 24px;
          cursor: pointer;
          transition: 0.5s;
          font-size: 16px;

          &:hover {
            transition: 0.5s;
            background-color: #5f6c6d;
          }
        }
      }
    }
  }
}
