#root {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;

  .header-container {
    padding: 24px 80px;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 4px;

      &:hover {
        .logo-icon {
          transition: 0.5s;
          padding: 0;
          padding-left: 4px;
          padding-bottom: 4px;
          fill: #cccccc;
          stroke: #cccccc;
        }
        .logo-text {
          span {
            color: #cccccc;
            transition: 0.5s;
          }
        }
      }

      .logo-icon {
        width: 46px;
        height: 46px;
        padding: 4px;
        transition: 0.5s;
        fill: #678184;
        stroke: #678184;
      }

      .logo-text {
        display: flex;
        flex-direction: column;

        span {
          color: #678184;
          transition: 0.5s;
          text-align: center;
        }

        .name {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 2px;
        }

        .description {
          font-size: 12px;
        }
      }
    }

    .menu {
      display: none;
      align-items: center;
      cursor: pointer;
      gap: 12px;

      &:hover {
        span {
          transition: 0.5s;
          color: #cccccc;
        }
        .menu-icon {
          transition: 0.5s;
          fill: #cccccc;
        }
      }

      span {
        font-size: 16px;
        color: #678184;
        font-weight: bold;
        transition: 0.5s;
      }

      .menu-icon {
        width: 24px;
        height: 24px;
        fill: #678184;
        transition: 0.5s;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1360px;
    align-self: center;
    align-items: center;
    z-index: 0;
    .introduction {
      display: flex;
      align-items: center;
      min-height: 100vh;

      .content-left {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 20px;

        h1 {
          color: #678184;
        }

        span {
          letter-spacing: 8px;
        }

        button {
          background-color: #678184;
          border-style: none;
          padding-block: 16px;
          width: 200px;
          border-radius: 24px;
          cursor: pointer;
          transition: 0.5s;
          font-size: 16px;

          &:hover {
            color: #678184;
            transition: 0.5s;
            background-color: #cccccc;
          }
        }
        .main-links {
          display: flex;
          gap: 20px;
          align-items: center;
        }
      }
    }
    .projects {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      padding-top: 120px;
      gap: 80px;

      .title {
        h1 {
          color: #678184;
        }
        span {
          font-size: 12px;
          letter-spacing: 4px;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 120px;

        .item {
          display: flex;
          flex-direction: column;
          padding: 20px;
          height: 780px;
          background-position: center;

          transition: 0.5s;
          background-blend-mode: multiply;

          .view-git {
            color: #fff;
            opacity: 0;
            transition: 0.5s;
          }

          &:hover {
            background-position: right bottom;
            transition: 0.5s;
            background-color: #678184;

            .view-git {
              margin-top: 20px;
              transition: 0.5s;
              opacity: 100;
            }
          }

          p {
            color: #cccccc;
          }
        }
        .item.cosmos {
          background-image: url(./assets/images/cosmos-background.jpg);
        }
        .item.vetlink {
          background-image: url(./assets/images/vetlink-background.jpg);
        }
        .item.finance {
          background-image: url(./assets/images/finance-background.jpg);
        }
      }
    }

    .about-me {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding-top: 120px;
      width: 100%;
      gap: 80px;

      .title {
        h1 {
          color: #678184;
        }
        span {
          font-size: 12px;
          letter-spacing: 4px;
        }
      }
    }
  }

  .scroll-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #cccccc;
    color: #678184;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .scroll-up.visible {
    opacity: 0.5;
    transform: translateY(0);
    pointer-events: all;
  }

  .scroll-up.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }

  .scroll-up:hover {
    transform: scale(1.1);
  }
}
