:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;

  color-scheme: light dark;
  color: #5f6c6d;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
